[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "methrix"]
	path = methrix
	url = https://github.com/compepigen/methrix
	shallow = true
	registered = true
